html {
  background: #000;
  color: #baa898;
  font-family: monospace;
  max-width: 500px;
  padding: 1em;
  margin: auto;
}

h1 {
  padding: 1em 0;
  color: #ac876d;
  text-transform: uppercase;
}

h3 { padding-top: 3em; }

img {
  max-width: 100%;
  height: auto;
  padding-top: 2em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2em 0 2em;
  font-size: 1em;
}

.bottom { margin: 5em 0 5em; }


/* LINKS */

a:link { color: #ac876d; }
a:visited { color: #ac876d; }
a:active { color: #505a53; }
a:hover { color: #e4d7cc; }

a, a:link, a:active, a:visited {
  text-decoration: none;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
